/**************************
    　管理画面入り口
**************************/
#admin_header{
    background-color:rgba(0,117,117,0.40);
    color: #ffffff;
    width: 100%;
    height: 45px;
    margin: 0px 0px auto 0px;
    font-size: 150%;
}
#admin_header_left{
    float:left;
    margin: 3px 0px 0px 30px;
}
#admin_header_right{
    float: right;
    margin: 3px 30px 0px 0px;
    border: #ffffff 4px double;
}
#login_form{
    width: 380px;
    margin: 55px auto auto auto;
    text-align: center;
}
.login_title{
    color: #007575;
    font-size: 24px;
}
#login_form_area{
    background-color: #F0F0F0;
    width: 100%;
    padding: 20px 0px;
}
#login_form_area p{
    font-size: 18px;
    margin:10px auto;
}
#login_form_area input,#login_form_area select{
    width: 50%;
    height: 35px;
    border: #a8a8a8 1px solid;
}
#login_submit{
    margin: 50px auto 20px auto;
    width: 50%;
}
.green_p{
	color: #007575;
    font-size: 20px;
    font-weight: bold;
}
/*********************
	管理画面共通
*********************/
#wrapper{
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#management_screen_sidebar,#right_block{
    display: table-cell;
    vertical-align: top;
    text-align: left;
}
#management_screen_sidebar{
    background-color:#007575;
    color: #F0F0F0;
    width: 380px;
    height: 100%;
    padding:0px;
}
#management_screen_items{
    margin: 80px 0px 0px 0px;
    padding: 0px;
    font-size: 22px;
    line-height: 70px;
    cursor: pointer;
}
#management_screen_items li{
    padding:0px 20px 0px 30px;
}
#management_screen_items li.this_page{
    background-color: #F0F0F0;
    color: #a8a8a8 !important;
}
#right_block{
    width: 100%;
    height: 100%;
}
#management_screen_header{
    background-color:rgba(0,117,117,0.40);
    color: #ffffff;
    width: 100%;
    height: 30px;
    float: right;
    margin: 0px 0px 30px 0px;
}
#goto_web{
    float: left;
    margin: 0px 0px 0px 20px;
}
#user_info{
    float: right;
    margin: 0px 20px 0px 0px;
}
.triangle{
    display: none;
    border:18px solid transparent;
    border-bottom-color:#007575;
    width: 0;
    top:8px;
    right:32px;
    position: absolute;
}
.dropdown_menu{
    display: none;
    font-size: large;
    text-align: center;
    background-color: #fff;
    border: #007575 5px solid;
    padding: 4px;
    margin: 20px auto auto auto;
    position: relative;
}

#edit_block{
    width: 100%;
    height: 100%;
    /* background-image: url(../images/ribbon.png);
    background-position: right;
    background-repeat: repeat-y;
	overflow-y: auto;
	z-index: 0;
	position:relative; */
}
#content{
    width: 80%;
    height: 100%;
    margin: 0px auto;
    padding-bottom: 150px;
    word-break: break-all;
}
.admin_page_title{
    font-size: 30px;
    font-weight: bold;
    color:#007575;
    text-align: left;
    margin:80px auto 20px auto
}

#right_module{
    width: 200px;
    float: right;
}
#create_item{
    color: #F0F0F0;
    background-color: #007575;
    width: 100px;
    height: 30px;
    font-size: 24px;
    padding: 7px 10px 2px 0px;
    line-height: 1em;
    text-align: center;
    float: right;
    cursor:pointer;
}
#create_item:active{
    transform: translateY(-5px);
}
#delete_item img{
    max-width: 36px;
    max-height: 36px;
    margin: 0px 0px 0px 20px;
    float: right;
    cursor:pointer;
}
#delete_item img:active{
    transform: translateY(-5px);
}
#admin_table{
    width: 100%;
    margin: 100px 0px auto 0px;
    font-size: 18px;
    border-collapse: collapse;
}
#admin_table th{
    color: #007575;
    background-color: #CDF4F4;
    height: 35px;
    text-align: center;
}

#admin_table tr{
    color: #A8A8A8;
    background-color: #ffffff;
}
#admin_table tr:nth-child(odd){
    background-color: #F0F0F0;
}
#admin_table td{
    height: 80px;
    max-width: 450px;
    text-align: center;
    word-break : break-all;
}

#admin_table img{
    max-width: 24px;
    max-height: 24px;
}

/*********************
	ホーム
*********************/
.info_block{
    width: 100%;
    height: auto;
    border: rgba(0,117,117,0.40) 10px solid;
    font-size: 18px;
}
.info_block ul{
    line-height: 50px;
}

/*********************
	プロフィール
*********************/
#user_forms{
    margin: 50px auto 0px auto;
    font-size:22px;
}
#user_forms input,select{
    min-height: 32px;
    border: #a8a8a8 1px solid;
}
#user_name_form{
    width:400px !important;
}
#user_mail_form{
    width:470px;
}
.user_password_form{
    width:300px;
}
#user_authority{
    width:150px;
}
#user_messeage_form{
    width:100%;
    height: 7%;
    font-size: 85%;
    color: #a8a8a8;
}

/*********************
	ニュース・ブログ詳細
*********************/
#post_form{
    margin: 70px auto 0px auto;
    font-size:22px;
}
#post_form input{
    width: 100%;
    border: #a8a8a8 1px solid;
    /* color: #a8a8a8; */
    font-size: 100%;
}
.form_block{
    width: 100%;
    margin:30px auto;
    position: relative;
}
#title_form{
    height: 35px;
}
#file_upload_box{
    width: 100%;
    height: 180px; 
    margin:30px auto 10px auto;
}
#upload_thumnail_button{
    background-color:rgba(0,117,117,0.40);
    color: #ffffff;
    width: 255px;
    height: 42px;
    font-size:20px;
    border: none;
    margin:40px auto 0px 0px;
    padding:15px;
}
#upload_thumnail_button img{
    max-width: 24px;
    max-height: 24px;
    margin:10px auto 0px 10px;
}
#thumnail_img{
    background-color: #f0f0f0;
    width: 140px;
    height: 140px;
    float: right;
    margin: 0px 50px 20px auto;
    object-fit: cover;
}
#thumnail_drug_and_drop{
    background-color: #f0f0f0;
    color: #007575;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#thumnail{
    display: none;
}
#content_form{
    width: 100%;
    height: 500px;
    font-size: 100%;
    color: #a8a8a8;
    border: #a8a8a8 1px solid;
    overflow-y: scroll;
    overflow: auto;
}
#send{
    width: 160px !important;
    border: none !important;
    padding:5px 0px;
    position: absolute;
    left: 50%;
    transform: translate(-65%, 0%);
}

/*********************
	メニュー詳細
*********************/
#menu_comments_area{
    width: 100%;
    margin: 120px auto 0px auto;
    font-size: 22px;
}

#menu_comment_list{
    width: 100%;
    border: 15px rgba(0,117,117,0.40) solid;
    text-align: left;
    border-collapse: collapse;
}
#menu_comment_list tr{
    color: #A8A8A8;
    background-color: #ffffff;
    height: 80px;
}
#menu_comment_list tr:nth-child(even){
    background-color: #F0F0F0;
}
#menu_comment_list th{
    color: #007575;
    font-size: 30px;
}
#menu_comment_list td{
    font-size: 20px;
}
/*********************
	固定ページ詳細
*********************/
#page_url{
    width: 100%;
    height: 30px;
    /* background-color: #a8a8a8; */
}
#page_url p{
    float: left;
}
#url_form{
    width: 240px !important;
    float: left;
}
#precautionary_statement{
    border: #007575 4px double;
    font-size: 80%;
    margin: 25px;
    padding: 10px;
}

/***************************
	お問い合わせ＆求人ページ詳細
***************************/
.tab_wrap{
    width:100%;
    margin:40px auto;
}
.tab_area{
    padding:0px 55px;
}
.tab_label{
    width:150px;
    color:#fff;
    background:#90c9cc;
    font-size:18px;
    margin:10px 5px 0px;
    padding:14px 0px 12px;
    display:inline-block;
    vertical-align:bottom;
    text-align:center;
    cursor:pointer;
    transition:ease 0.2s;
    border-top-left-radius:10px; 
    border-top-right-radius:10px; 
    
}
.tab_label.active{
    background:rgba(205,244,244,0.50);
    color:#a8a8a8;
}
.panel_area{
    background-color: #ffffff;
    width:100%;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}
.tab_panel{
    width:85%;
    background-color:rgba(205,244,244,0.50);
    vertical-align:top;
    text-align:left;
    padding:0px 0px 120px 20px;
    border-radius:10px;
    display:none;
}
.tab_panel.active{
    display:inline-block;  
}
.tab_panel p{
    font-size:18px;
    letter-spacing:3px;
    padding: 0px 0px 0px 20px;
}
.tab_panel input,.tab_panel textarea{
    width: 90%;
    min-height: 30px;
    border:#a8a8a8 1px solid;
    margin: 10px auto auto 30px;
}
.tab_panel textarea{
    height: 400px;
}
.sub_title{
    font-size: 24px;
    margin: 35px auto 5px auto;
}